@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.scroll-category{
  scrollbar-width: 2px;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #075985;
    border-radius: 20px;
    width: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }